/* COMMON */
body{
    font-size: 16px;
}
a{
    text-decoration: none;
    color: #4a4a4a;
}
/* HEADER */
header{
    border: 1px solid gray;
}

header .inner{
    position: relative;
    width: 1200px;
    height: 64px;
    padding: 0 32px;
    margin: 0 auto;
    display: flex;
}

/* HEADER LOGO */
header .inner .header__logo{
    position:absolute;
    top: 0;
    bottom: 0;
    margin:  auto;
    height: 32px;
}
header .inner .header__logo a{
    color: green;
    font-size: 32px;
    
}
header .inner .header__logo a i{
    font-size: 32px;
    color: green;
}
/* HEADER MENU */
header .inner .header__menu{
    display: flex;
    position: absolute;
    margin: auto;
    left: 200px;
    top: 0;
    bottom: 0;
    height: 32px;
}
header .inner .header__menu li{
    padding: 8px;
}
header .inner .header__menu li a{

}
header .inner .header__menu li a:hover{
    color: #1dc078;
}
/* HEADER SERACH */
header .inner .header__search{
    position: absolute;
    right: 350px;
    height: 36px;
    top: 0;
    bottom: 0;
    margin: auto 0;

}
header .inner .header__search input{
    width: 148px;
    height: 36px;
    padding: 5px 9px;
    box-sizing: border-box;
    border: 1px solid transparent;
    border-radius: 3px;
    background-color: #f6f6f6;
    font-size: 1rem;
}
header .inner .header__search input:focus{
    outline-color: #1dc078;
}
header .inner .header__search input:hover{
    border: 1px solid #c8c8c8;
}
header .inner .header__search i{
    position: absolute;
    right: 9px;
    font-size: 1rem;
    top: 0;
    bottom: 0;
    margin: auto 0;
    height: 1rem;
}
/* HEADER PARTICIPATION */
header .inner .header__participation{
    position: absolute;
    right: 220px;
    height: 16px;
    top: 0;
    bottom: 0;
    margin: auto;
}

header .inner .header__participation a{

}
header .inner .header__participation a:hover{
    color: #1dc078;
}
/* HEADER BTN */
header .inner .header__btn{
    position: absolute;
    display: flex;
    right: 0;
    height: 32px;
    top: 0;
    bottom: 0;
    margin: auto;
}
header .inner .header__btn .header__btn__login{
    padding: 8px;
    margin-right: 8px;
    box-sizing: border-box;
    border:  1px solid #dbdbdb;
    background-color: white;
    border-radius: 3px;
}
header .inner .header__btn .header__btn__register{
    padding: 8px;
    box-sizing: border-box;
    border:  1px solid #dbdbdb;
    background-color:#ff7867;
    border-radius: 3px;
    color: white;
}
